html {
    background-color: orange;
}
table {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    font-size: 150%;
    border-collapse: collapse;
    width: 900px;
    height: 900px;
}
.row01 {
    height: 50px;
    background-color: orange;
}
.col01 {
    width: 50px;
    background-color: orange;
}
.trang {
    background-color: white;
}
.den {
    background-color: black;
}